* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: rgb(122, 108, 108);
    padding: 5px;
}

body h1,h2,h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    border-style: solid;
    border-radius: 25%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.inicio {
    font-weight: bold;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: beige;
}

.menu li:hover{
    transform: scale(1.1);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    margin: 4%;
    background-image: url(img/pirateria.jpg);
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
}
