* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(122, 108, 108);
    padding: 10px;
}

body h1,h2,h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 123, 123);
    border-bottom: 4px solid black;
}

.header h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.inicio {
    font-weight: bold;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: beige;
}

.menu li:hover{
    transform: scale(1.1);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    background-image: url(img/pirateria.jpg);
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 20px;
}

.hero button {
    margin-top: 10px;
    height: 40px;
    width: 100px;
}

.realcases {
    display: flex;
    justify-content: space-between;

    gap: 5px;
}

.realcases div {
    border-style: solid;
    border-color: aliceblue;
    border-radius: 3%;
    background-color: rgb(112, 104, 104);
    
}

.casos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 350px;
    height: 350px;
}

.casos:hover{
    background-color: rgb(41, 46, 49);
    color: beige;
    transform: scale(1.1);
}

.casos > h3 {
    color: orange;
}

.casos img{
    border-radius: 10%;
    width: 50%;
    height: 50%;
}

.casos > button {
    height: 50px;
    width: 120px;
}

button {
    font-weight: bold;
    border-radius: 15px;
}

#amenazas {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 4%;
}

#amenazas > div {
    border-style: solid;
    border-radius: 5%;
    text-align: center;
}

.amenaza1 {
    background-color: rgb(146, 146, 139);
    font-style: italic;
    margin: 20px;
}

.amenaza2 {
    background-color: rgb(192, 192, 153);
    font-size: 15px;
}

.amenaza3 {
    background-color: rgb(95, 126, 117);
    font-weight: bold;
    margin: 20px;
}

.amenaza4 {
    background-color: rgb(148, 177, 155);
    font-style: italic;
    margin: 10px;
}

#campañas {
    display: flex;
    justify-content: space-around;
}

#campañas>h2 {
    font-size: medium;
}

.listaEventos {
    display: flex;
    margin-bottom: 4%;
    gap: 15%;
    list-style: none;
}

.listaEventos > .eventoDiferente {
    border-style: double;
    border-radius: 6%;
    border-color: rgb(25, 29, 63);
    background-color: rgb(126, 111, 90);
}

.listaEventos > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-radius: 6%;
    text-align: center;
    background-color: rgb(84, 89, 92);
    width: 280px;
    height: 150px;
}

li > time {
    color: rgb(228, 135, 15);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

li > time:hover {
    color: black;
    font-size:x-large;
}


