h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

blockquote {
    color: aquamarine;
    font-weight: bolder;
}

.contenedor {
    width: 10px;
    padding: 25px;
    margin: 25px;
    border: 25px color(srgb red green blue);
}