* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #defbff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #4b79a1;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Princess Sofia", cursive;
    font-size: 20px;
    font-weight: bold;
}

.menunavegacion {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.menunavegacion {
    display: flex;
    list-style: none;
}

.menunavegacion li {
    margin: 0 10px;
}

.menunavegacion a {
    color: black;
    text-decoration: none;
}

.menunavegacion a.active {
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background-image: url(../img/disney.png);
    background-size:cover ;
    background-position: center;
}

.hero p {
    font-weight: bold;
}

.boton {
    border-width: 4px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    padding: 6px;
    text-align: center;
    font-size: 12px;
    cursor: pointer; /* cambia el raton normal por la manita para seleccinar*/
}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(43, 131, 190);
    color: white;
}

.film {
    display: flex;
    justify-content: space-between;
}

.film img {
    border-radius: 6%;
}

.film h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
}

.characters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.characters1{
    background-color: burlywood;
}
.characters2{
    background-color: rgb(6, 255, 255);
}
.characters3{
    background-color: rgb(245, 110, 250);
}
.characters4{
    background-color: rgb(139, 243, 148);
}

.characters div > h3 {
    font-style: italic;
    font-weight: bolder;
    color: rgb(48, 64, 78);
}

.characters div > h3:hover {
    color: rgb(250, 221, 177);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.rrss {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    list-style: none; /* los puntos de las listas o los numeros se aplican sobre los li,ol,ul */
}

.rrss a {
    text-decoration: none; /* quien realmente "pinta" el subrayado es el enlace (<a>) */
    color: black;
}